html, body{
    height:125%;
}
body{
    background-image:linear-gradient(#447188,#ad0b8a);
    cursor:url('cursor.cur'),auto;
}
.backgrounddiv{
    background-image: url('https://imgur.com/9wPnMyX.png');
    background-size:100% 100%;
    width:100%;
    height:100%;
}
.flexer{
    display:flex;
}
.menubar{
    justify-content: flex-start;
       
}
.redx{
    color:#bc4d43;
    font-size:50px;
    margin-top:50px;
    margin-left:50px;
    font-family: 'Yellowtail', cursive;
    text-decoration:underline;
    text-decoration-color: #bc4d43;
}
.aboutmeimg img{
    width:300px;
    
}
.toprow{
    justify-content: space-around;
    margin-right:5%;
}
.bottomrow{
    margin-right:0;
    justify-content: space-aroundC:\Users\indy_\OneDrive\Documents\GitHub\Final-Portfolio\aboutme.html;
}
.spacing{
    width:25%;
    margin:20px;
}


.content{
    font-size:20px;
    color:white;
    font-family: 'Concert One', cursive;
    width:60%;
    margin-left: 5%;
}
.leftovers{
    width:30%;
    
}
.hover:hover{
    border:5px double white;
    cursor: url('cursor.cur'), auto;
}
.profileimg{
    width:20%;
    float:left;
    margin:2px;
}
