html, body{
    height:125%;
}
body{
    background-image:linear-gradient(#447188,#ad0b8a);
    cursor:url('cursor.cur'),auto;
}
.backgrounddiv{
    background-image: url('https://imgur.com/9wPnMyX.png');
    background-size:100% 100%;
    width:100%;
    height:100%;
}
.flexer{
    display:flex;
}
.menubar{
    justify-content: flex-start;
       
}
.redx{
    color:#bc4d43;
    font-size:50px;
    margin-top:50px;
    margin-left:50px;
    font-family: 'Yellowtail', cursive;
    text-decoration:underline;
    text-decoration-color: #bc4d43;
}
.aboutmeimg img{
    width:300px;
    
}
.toprow{
    justify-content: space-around;
}
.bottomrow{
    margin-right: 40px;
    justify-content: flex-end;
}
.slightmargin{
    margin:0 2.5px 0 2.5px;
}
.marginshift{
    margin-right:72px;
}
.content{
    font-size:20px;
    color:white;
    font-family: 'Concert One', cursive;
}
.hover:hover{
    border:5px double white;
    cursor: url('cursor.cur'), auto;
}
