html,body{
    height:125%;
    background-image:linear-gradient(#447188,#ad0b8a);
    cursor: url('cursor.cur'), auto;
}
.backgrounddiv{
    background-image:url('https://imgur.com/XKfwolX.png');
    background-size: 100% 100%;
    width:100%;
    height:100%;    
}
.flexer{
    display:flex;
}
.emaildiv{
    position: relative; 
    height:auto;
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    border:white double 3px;
}    
.emaildiv::before {    
    content: "";
    background-image: linear-gradient(#447188,#ad0b8a);
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
}
p {
    position: relative;
    color: #ffffff;  
    font-size: 30px;
    line-height: 0.9;
    text-align: center;
}
.formdiv{
    background-color:#ad0b8a;
    background-blend-mode: color; 
    margin-top:0px;
    padding-bottom:26%;
    border:white double 3px;    
}
.link{
    color:lightblue;
    text-decoration-color: white;
}
.hover:hover{
    border:3px double white;
    cursor: url('cursor.cur'), auto;   
}
.sizeit{
    width:100%;
    margin:0px;
    padding:0px;
    border:3px white double;
}
.imgdiv{
    width:100%;
}
.margin{
    margin:10px;
}
.specialsize{
    width: 100%;
}
.firstrow{
    height:50%;
    width:33%;
}
.secondrow{
    width:33%;
    height:100%;
}
.pemail{
    padding:53%;
}
.redxdiv{
    animation:floatredx 3s infinite;
}
.redx{
    color:#bc4d43;
    font-size:50px;
    margin-top:50px;
    margin-left:50px;
    font-family: 'Yellowtail', cursive;
    text-decoration:underline;
    text-decoration-color: #bc4d43;
}
.formbutton{
    background-color:#447188;
    color:white;
}
.container {
    
    position: relative;
    
}  
/*.center {
    
}*/
@keyframes floatredx {
    from {
        transform: translate(0, 0px);
    } 10% {
        transform: translate(0, -3px);
    } 20%{
        transform:translate(0,-6px);
    } 30% {
        transform: translate(0, -9px);
    } 40% {
        transform: translate(0, -12px);
    } 50% {
        transform: translate(0, -15px);
    } 60% {
        transform: translate(0, -12px);
    } 70% {
        transform: translate(0, -9px);
    } 80% {
        transform: translate(0, -6px);
    } 90% {
        transform: translate(0, -3px);
    } to {
        transform: translate(0, 0px);
    }
}